<div *ngIf="user">
<div class="timeline-TweetList-tweet">
    <div class="timeline-Tweet">
      <div class="timeline-Tweet-brand">
        <div class="Icon Icon--twitter"></div>
      </div>
      <div class="timeline-Tweet-author">
        <div class="TweetAuthor"><a class="TweetAuthor-link" href="#channel"> </a><span class="TweetAuthor-avatar"> 
            <div class="Avatar"> </div></span>
            <span class="TweetAuthor-name" id="homepage" (click)="gotoProfile()">{{user.name}} </span><span class="Icon Icon--verified"> </span><span class="TweetAuthor-screenName">{{user.user_id}}</span></div>
      </div>
      <div class="timeline-Tweet-text">{{note.content}}</div>
      <div class="timeline-Tweet-metadata"></div>
      <ul class="timeline-Tweet-actions">
        <li class="timeline-Tweet-action"><a class="Icon Icon--heart" href="#"></a></li>
        <li class="timeline-Tweet-action"><a class="Icon Icon--share" href="#"></a></li>
      </ul>
    </div>
  </div>
</div>