<div *ngIf="user" class="note">
<div class="media">
  <img class="mr-3" src="https://upload.wikimedia.org/wikipedia/commons/2/25/Lebron_wizards_2017_%28cropped%29.jpg" alt="Generic placeholder image">
  <div class="media-body">
    <h5>{{user.name}}</h5>
    <div>{{note.content}}</div>
    <br>
      <span class="material-icons Icon">favorite</span>
      <span class="material-icons Icon" data-toggle="collapse" [attr.data-target]="'#comment' + note.id" aria-expanded="false" [attr.aria-controls]="'comment'+note.id">comment</span>
    <div *ngFor="let comment of comments">
    <div class="media mt-3">
      <a class="pr-3" href="#">
        <img src="https://upload.wikimedia.org/wikipedia/commons/2/25/Lebron_wizards_2017_%28cropped%29.jpg" alt="Generic placeholder image" alt="Generic placeholder image">
      </a>
      <div class="media-body">
        <h5 class="mt-0">{{comment.user_id}}</h5>
        {{comment.content}}
      </div>
    </div>
  </div>
</div>
</div>
<div class="collapse" [attr.id]="'comment'+note.id">
  <form (ngSubmit)="postComment()">    
      <textarea [formControl]="commentContent" class="form-control" rows="3" placeholder="Say something..."></textarea>
      <button class="btn btn-outline-success my-2 my-sm-2" type="submit" >Comment</button>
  </form>
  </div>
</div>
